@import url('https://fonts.googleapis.com/css2?family=Sora:wght@400;500;600;700&display=swap');

*{
    font-family: "Sora",sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.bodylogin{
    background:url("./img/wallpaper.jpg") no-repeat ;
}

.add-Killer{
    background:url("./pages/assets/images/background.jpg") no-repeat ;
}

.bodylogin,.add-Killer{
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background-position: center;
    background-size: cover;
}

.glass{
    padding: 30px 25px;
    width: 450px;
    border: 2px solid rgba(255, 255, 255, 0.3);
    backdrop-filter: blur(15px);
    box-shadow: 0 0 13px rgba(0,0,0,0.3);
    border-radius: 10px;
    color: #fff;
}

.glass h1{
    text-align: center;
    font-size: 40px;
}

.glass .input-box{
    position: relative;
    width: 100%;
    height: 50px;
    margin: 25px 0;
}

.stats{
    display: flex;

}

.input-box input{
    width: 100%;
    height: 100%;
    background: transparent;
    /* border: none; */
    outline: none;
    border: 2px solid rgba(255, 255, 255, 0.3);
    border-radius: 10px;
    font-size: 16px;
    color:#fff ;
    padding: 20px 45px  20px 20px;
}

.input-box input::placeholder{
    color: #fff;
}
.stats input{
    margin: 1px;
    padding: 10px;
    font-size: 15px;
    }


    .stats #terrorRadius::placeholder{
     
        font-size: 11.3px;
        }

.input-box i ,.input-box img {
    position: absolute;
    right: 20px;
    top: 50%;
    transform: translateY(-50%);
    font-size: 24px;
}


.stats img {
    position: relative;
    right: 0px;
}

.glass .olvidar-recordar{
    display: flex;
    justify-content: space-between;
    font-size: 14.5px;
    margin: 20px 0 15px;
}

.olvidar-recordar label input {
    accent-color: #fff;
    text-decoration: none;
    margin-right: 3px;

}


.olvidar-recordar a{
    text-decoration: none;
    color: #fff;
    font-weight: 600;
}

.olvidar-recordar a:hover{
    text-decoration: underline;
}


.glass .btn{
    width: 100%;
    height: 45px;
    background: #fff;
    outline: none;
    border: none;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    cursor: pointer;
    font-size: 16px;
    font-weight: bold;
    color: #212121;
}

.glass .btn:hover{
    opacity: 0.9;
}

.registrar-link{
    font-size: 14.5px;
    text-align: center;
    margin-top: 20px;
}

.registrar-link a {
    text-decoration: none;
    color: #fff;
    font-weight: 600;
}

.registrar-link a:hover{
    text-decoration: underline;
}