*{
    margin: 0;
    padding: 0;
}

.layout{
    min-height: 100vh;
    display: flex;
    flex-direction: column;

}

.all-killers{
    display: flex;
}

.container-cards{
    background-color: #1d1d1d;
    width: 100%;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    /* gap:30px; */
    padding: 20px 0;
    max-height: 100vh;
    /* overflow: scroll;
    overflow-x: hidden; */
}


.card{
    color: white;
    text-align: center;
    /* border: 1px solid white; */  
    cursor: pointer;
}

.card p {
    text-transform: uppercase;
    margin: 0;
    font-family: helvetica;
}

.card figure{
    padding: 8px;
    margin: 2px;
    /* border: 1px solid red; */
    
}
.card figure img{
box-shadow: 0px 2px 4px 1px rgba(121 ,17, 16,0.8);
}

.card-descr{
    display: flex;
    justify-content: center;
    align-items: centers;
    width: 45%;
    background-color: #0b0b0b;

}